extends admin

block adminContent
	script(type='text/javascript').
		$('#aJobs').addClass('selected');
		
	span Active
	div 	
		table
			thead
				tr
					th
						input(type='checkbox')
					th 
					th Name
			tbody(data-bind='foreach: jobs')
				tr
					td
						input(type='checkbox')
					td
						img(data-bind='attr: { src: "..//" + img }')
					td(data-bind='text: name')
					td
						input(type='button', value='Edit')
		
	script(type='text/javascript').
		webIO.socket.emit('adminJobPageAccessed');