extends admin

block adminContent
	script(type='text/javascript').
		$('#aEmployees').addClass('selected');
		
	span Active
	div 	
		table
			thead
				tr
					th
						input(type='checkbox')
					th 
					th First
					th Last
			tbody(data-bind='foreach: emps')
				tr
					td
						input(type='checkbox')
					td
						img(data-bind='attr: { src: "../_release/" + img }')
					td(data-bind='text: fName')
					td(data-bind='text: lName')
					td
						input(type='button', value='Edit')
	
	span have active inactive add, inline remove edit and edit
		
	script(type='text/javascript').
		webIO.socket.emit('adminEmpPageAccessed');