extends layout

block content
	div(id='header')
		img(id='imgLogo' src='images/logo.png')
		span Employee GPS
	div(id='navBar')
		a(href='/' style='padding:5px;') Tracking Map
		a(href='/Admin' style='padding:5px;') Admin
	div(id='trackingMap')
