extends layout

block content
	div(id='header')
		img(id='imgLogo' src='images/logo.png')
		div(id='titleText') Field Status Tracker
	div(id='navBar')
		a(href='/') Tracking Map
		a(href='/Admin') Admin
	div(id='trackingMap')
	input(type='button', onclick='test();', value='Start Test Move')
	div(id='footer')
		img(id='imgFooter' src='images/logo_footer.png')
