extends layout

block content
	script(type='text/javascript').
		$('#index').addClass('selected');
	
	div(id='trackingMap')
	div(id='mapLegend')
		table
			tr
				td 
					img(src='images/indicator_Employee.png')
					div
						input(type='checkbox' id='chkEmployees' checked=true onclick='ToggleMarkers("E")')
						span Employees
				td 
					img(src='images/indicator_Job.png')
					div
						input(type='checkbox' id='chkJobs' checked=true onclick='ToggleMarkers("J")')
						span Current Jobs
				td 
					img(src='images/indicator_Businesses.png')
					div
						input(type='checkbox' id='chkBusinesses' checked=true onclick='ToggleMarkers("B")')
						span Businesses
			tr
				td(colspan='3')
					input(type='button', onclick='test();', value='Start Test Move' style='float:left;')