doctype html
html
	head
		title= title
		script(src='/socket.io/socket.io.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDIUHVyHjABaBnF2h2yROpJCroqRSzZFXg')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='/_release/cJS.min.js')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Playfair+Display')
		link(rel='stylesheet', href='/_release/cStyle.min.css')
	body
		div(id='header')
			img(id='imgLogo' src='../_release/logo.png')
			div(id='titleText') <!-- FIELD STATUS TRACKER -->
		div(id='navBar')
			a(id='index' href='/') Tracking Map
			a(id='admin' href='/Admin/Employees') Admin
		block content
		div(id='footer')
			img(id='imgFooter' src='../_release/logo_footer.png')