body, html {
	font-family: 'Open Sans', sans-serif;
	margin:auto;
	background: linear-gradient(to bottom, #CEECF5 , white);
	height:100%;
	width:99%;
}
a{
	color: #00B7FF;
}


#header{
	height:110px;
}
#header img{
	position:fixed;
	height: 100px;
	padding-bottom:10px;
	padding-right:10px;
}
#titleText{
	color:#006aa9;
	padding-top:25px;
	text-align:center;
	font-size: 40px;
	font-weight:600;
}



#trackingMap{
	height: 900px;
}
#mapLegend{
	background-color:white;
	border-top: solid 1px #006aa9;
}
#mapLegend table{
	width:100%;
	text-align:center;
}


#footer{
	text-align:center;
	padding-top:15px;
}